.page_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 270%;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grid-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.itemImage {
    width: 70%;
    height: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.main_component {
    height: 20vh;
}

.buyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}