/* You can add global styles to this file, and also import other style files */

$bgcolor: rgb(205, 242, 216);

html, body, .app-root{ 
    height: 100vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 1em;
    width: 1em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-indicator::before { 
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
